[Desktop Entry]
Name=LTC3
Exec=/bin/bash -c "xfreerdp /sec:tls /multimon /cert-ignore /d:astrupdrug /v:10.12.253.43:3389"
Type=Application
Terminal=true
Name[en_US]=LTC3.desktop
