[Desktop Entry]
Name=LTC3
Exec=/bin/bash -c "xfreerdp /sec:tls /multimon /cert-ignore /d:<DOMAIN_HERE> /v:<SERVER_IP_HERE>:3389"
Type=Application
Terminal=true
Name[en_US]=LTC3.desktop
